$breakpoint: 992px !default;
$sidebarShadow: 0px 1px 2px 0px rgba(18, 18, 23, 0.05) !default;

$menu-border-radius: 0.75rem !default;
$submenu-border-radius: 1rem !default;
$submenu-item-border-radius: 0.5rem !default;
$menu-item-gap: 0.5rem !default;

$submenu-min-width: 15rem !default;
$submenu-max-height: 20rem !default;
$submenu-padding: 0.5rem !default;

$nested-padding-increment: 1rem !default;
$base-nested-padding: 1.5rem !default;
